[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]uilds/
*.csproj
*.sln
*.slnx
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db

TestResults/*.log
TestResults/*.txt
TestResults/*.bin
TestResults/*.png
TestResults/*.jpg
.vs/
.vscode/
MemoryCaptures/
Recordings/
.crash/

TestResults/*.ready
